/* Druk Wide - Used for Display font */
@font-face {
  font-family: 'Druk Wide';
  src: url('../public/fonts/DrukWide-Medium-Web.woff2') format('woff2'),
      url('../public/fonts/DrukWide-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Suisse Intl - Used for Sans font */
@font-face {
  font-family: 'Suisse Intl';
  src: url('../public/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
      url('../public/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}