@font-face {
  font-family: 'Druk Wide';
  src: url('../public/fonts/DrukWide-Medium-Web.woff2') format('woff2'),
      url('../public/fonts/DrukWide-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../public/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
      url('../public/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}